body{
    margin: 0px;
}

#home-background-web{
    display: block;
}

#home-background-mobile{
    display: none;
}

#app-nav{
    margin-top: -40px;
    z-index: 100;
    position:relative;
}

#app-home{
    margin-top: -200px;
    z-index: 1;
}

.container-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 4%;

}

.container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: center;
}

.nav-text{
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
}

#logo-web{
    width: 100%;
    height: auto;
}

#logo-mobile{
    width: 200px;
    height: auto;
}

#logo-black{
    display: none;
}

#nav-logo{
    align-self: auto;
    flex-grow: 0;
    order: 1;
    ID: 1;
    width: 200px;
    margin-right: 10px;
    align-content: left;
    text-align: left;
}

#nav-genderless{
    align-self: auto;
    flex-grow: 0;
    order: 2;
    ID: 2;
    width: 100px;
    text-align: center;
    margin-right: 60px;
    margin-top: 45px; 
}

#nav-women{
    align-self: auto;
    flex-grow: 0;
    order: 3;
    ID: 3;
    width: 100px;
    text-align: center;
    margin-top: 45px;
}

#nav-men{
    align-self: auto;
    flex-grow: 0;
    order: 4;
    ID: 4;
    width: 100px;
    text-align: center;
    margin-top: 45px;
}

#nav-cart{
    align-self: auto;
    flex-grow: 0;
    order: 5;
    ID: 5;
    width: 100px;
    text-align: center;
    margin-top: 45px;
}



.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 700px) {
     .container-nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
    }

    #logo-mobile{
        width: 150px;
        height: auto;
    }

    #nav-cart{
        align-self: auto;
        flex-grow: 0;
        order: 5;
        ID: 5;
        width: 100px;
        text-align: center;
    }

    #logo-black{
        display: block;
    }

    #logo-white{
        display: none;
    }

    #nav-logo{
        align-self: auto;
        flex-grow: 0;
        order: 1;
        ID: 1;
        width: 100%;
        align-content: center;
        text-align: center;
        margin-top: 10px;
    }

    #nav-genderless{
        align-self: auto;
        flex-grow: 0;
        order: 2;
        ID: 2;
        width: 100%;
        text-align: center;
        margin-top: -15px; 
        background-color: #777777;
    }

    #nav-women{
        align-self: auto;
        flex-grow: 0;
        order: 3;
        ID: 3;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        background-color: #777777;
    }

    #nav-men{
        align-self: auto;
        flex-grow: 0;
        order: 4;
        ID: 4;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        background-color: #777777;
    }

    #nav-cart{
        align-self: auto;
        flex-grow: 0;
        order: 5;
        ID: 5;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        background-color: #4096EE;
        }

    .nav-text{
        font-family: Helvetica;
        font-size: 20px;
        color: #FFFFFF;
    } 

    #home-background-web{
        display: none;
    }

    #home-background-mobile{
        display: block;
    } 

    #app-home{
        margin-top: 10px;

    }

    .background-large{
        width: 100%;
        height: auto;
    }
    .background-small{
        width: 100%;
        height: auto;
    } 
}
